.CharacterDetails-ctn {
    color: $mainColor;
    .Details-link {
        margin: 37px;
        color: $mainColor;
    }
    .Details-ctn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        @include forTablet {
            margin: 85px;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .Details-text-ctn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include forTablet {
                justify-content: center;
                align-items: flex-start;
            }
            .Details-text {
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }
}