.CharacterDetails-ctn {
    color: yellow;
    .Details-link {
        margin: 37px;
        color: yellow;
    }
    .Details-ctn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        .Details-text {
            font-weight: 700;
            text-transform: uppercase;
        }
        
    }
}