.CharacterList {
    margin: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
    text-decoration: none;
    @include forPc {
        margin: 80px;
    }
    .character {
        list-style: none;
        .CharacterCard-ctn {
            margin: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $mainColor;
            .Card-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h3, p {
                    margin: 10px;
                }
            }
        }
    }
}