.Header-ctn {
    .Header {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .Header-logo-ctn {
            margin: 20px;
            height: 50%;
            .Header-logo {
                position: relative;
                height: 100%;
            }
        }
    }
}