.Searchbar {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .Searchbar-input {
        margin: 10%;
        border: solid 2px rgb(44, 206, 192);
        background-color: rgb(44, 206, 192);
    }
}